
    <header>
    <h1><span class="hg">HC</span> STORE</h1>

    <nav class="navbar-conteiner">
        <a href="/src/pages/colecoes/index.html">Coleções</a>
        <a href="/src/pages/lista-produto/#">Explorar</a>
        <a href="outlet">Outlet</a>
    </nav>

    <div class="right">
        <div class="search-box">
            <input type="text" placeholder="">
        </div>

        <nav class="icons">
            <a  href="#" class="login-trigger"><img src="/src/assets/image/carrinho.svg.svg" alt="carrinho"></a>
            <a  href="#" class="login-trigger"><img src="/src/assets/image/login.svg.svg" alt="login"></a>
        </nav>
    </div>
    </header>

