<header>
  <a href="/src/pages/home/index.html" class="brand-link">
  <h1><span class="hg">HC</span> STORE</h1>
</a>

  <nav class="navbar-conteiner">
    <a href="/src/pages/colecoes/index.html">Coleções</a>
    <a href="/src/pages/lista-produto/index.html">Explorar</a>
    <a href="#">Outlet</a>
  </nav>

  <div class="right">
    <div class="search-box">
      <input type="text" placeholder="">
    </div>

    <nav class="icons">
      <a href="#" class="cart-trigger">
        <img src="/src/assets/image/carrinho.svg.svg" alt="Carrinho">
      </a>
      <a href="#" class="login-trigger">
        <img src="/src/assets/image/login.svg.svg" alt="Login">
      </a>
    </nav>
  </div>

  <button class="hamburger" aria-label="Abrir menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>

<div class="overlay-menu"></div>

<div class="menu-mobile">
  <div class="menu-top">
    <h1><span class="hg">HC</span> STORE</h1>
    <div class="linha"></div>
    <div class="search-mobile">
      <input type="text" placeholder="Buscar...">
    </div>
  </div>

  <a href="/src/pages/colecoes/index.html">Coleções</a>
  <a href="/src/pages/lista-produto/index.html">Explorar</a>
  <a href="#">Outlet</a>
  <a href="#" class="login-trigger">Login</a>
  <a href="#" class="cart-trigger">Carrinho</a>
</div>

