<footer>
  <div class="footer-grid">
    <div>
      <h1><span class="hg">HC</span> STORE</h1>
      <p>
        Definindo o futuro da cultura urbana <br>
        através do artesanato de alta qualidade <br>
        e do luxo moderno.
      </p>

      <nav class="icons-media">
        <a href="#"><img src="/src/assets/image/instagram.svg" alt="Instagram"></a>
        <a href="#"><img src="/src/assets/image/x.svg" alt="X"></a>
        <a href="#"><img src="/src/assets/image/facebook.svg" alt="Facebook"></a>
      </nav>
    </div>

    <div class="support">
      <h2>Suporte</h2>
      <a href="#">Perguntas frequentes</a>
      <a href="#">Envio e devoluções</a>
      <a href="#">Guia de tamanhos</a>
      <a href="#">Rastrear pedido</a>
    </div>

    <div class="enterprise">
      <h2>Empresa</h2>
      <a href="#">Sobre nós</a>
      <a href="#">Sustentabilidade</a>
      <a href="#">Carreiras</a>
      <a href="#">Contato</a>
    </div>

    <div>
      <div class="coupon">
        <h3>Use o cupom:</h3>
        <h2>PRIMEIRA15</h2>
        <h3>Ganhe 15% de desconto na sua primeira compra.</h3>
      </div>

      <div class="e-mail-box">
        <input type="text" placeholder="Endereço de e-mail">
      </div>
    </div>
  </div>
</footer>
